h1 {
    font-family: 'Bodoni Moda', serif;
}

h2 {
    font-family: 'Bodoni Moda', serif;
    font-size: 2.5rem !important;
    font-weight: bold !important;
    color: #419C4A !important;
}

h4 {
    font-family: 'Cormorant Garamond', serif;
}

#services h4 {
    font-family: 'Cormorant Garamond', serif;
    font-weight: bold;
    color: #8F1F43 !important;
    font-size: 2.0rem !important;
}

p {
    font-family: 'Cormorant Garamond', serif;
    font-size: larger;
}

.btn-primary {
    background-color: #8F1F43 ! important;
    border-color: #DB5C85;
    color: #fff;
}

.navbar-light .navbar-nav .nav-link{
    color: #419C4A;
}

.navbar-light .navbar-brand{
    color: #419C4A;
    padding-left: 100px;
}

#navbarNav{
    padding-right: 100px;
}

a.navbar-brand {
    font-family: 'Bodoni Moda', serif;
    font-weight: bold;
    font-size: 2.5rem;
}

a.nav-link{
    font-family: 'Cormorant Garamond';
    font-size: 1.50rem;
}

@media (max-width: 991.98px) {
    .navbar-brand {
      padding-left: 0 ! important;
    }
  }

@media only screen and (max-width: 479px) {
  .navbar-brand {
  font-size: 1.05rem ! important;
  padding: 0;
  margin: 0;
    }
  }

  @media only screen and (max-width: 1024px) {
    .navbar-brand {
    padding: 0 !important;
    margin: 0 !important;
      }
    }


.masthead {
    position: relative;
    height: 100vh;
    margin-bottom: 50px;
}

.masthead-content .phone-number{
    font-style: 'Montserrat';
}
  
.masthead video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
  
  .masthead .masthead-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: #fff;
    font-family: 'Cormorant Garamond', serif;
}
  
.masthead .masthead-content h1 {
    font-size: 4rem;
    font-weight: 700;
    margin-bottom: 1.5rem;
}
  
.masthead .masthead-content p {
    font-size: 1.5rem;
    margin-bottom: 2rem;
}
  
.masthead .masthead-content .btn {
    font-size: 1.25rem;
    padding: 1rem 2rem;
}

.masthead h2 {
    color: #fff !important;
}

@media (max-width: 479px) {
    .masthead-content h1 {
      font-size: 2.5rem !important;
    }
    
    .masthead-content h2 {
      font-size: 1.5rem !important;
    }
    
    .masthead-content .btn {
      font-size: 1rem !important;
      padding: 0.75rem 1.5rem !important;
    }
  }
  
  @media (max-width: 767px) {
    .masthead {
      overflow: hidden;
    }
}




/* Default styles for the phone button */
.phone-button {
    position: fixed;
    right: 0;
    bottom: 20px;
    background-color: #8F1F43;
    color: #fff;
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
    font-size: 16px;
    z-index: 9999;
    transition: all 0.3s ease-out;
    margin-right: 10px;
  }
  
  /* Styles for mobile devices */
  @media (max-width: 767px) {
    .phone-button {
      padding: 0;
      width: 50px;
      height: 50px;
      line-height: 50px;
      border-radius: 50%;
      text-align: center;
      font-size: 0; /* Hide text */
    }
  
    .phone-button i.bi {
      display: block;
      font-size: 30px;
      line-height: 50px;
      margin: 0 auto; /* Center phone icon */
    }
  }
  
  
  /* Styles for desktop devices */
  @media (min-width: 768px) {
    .phone-button.scroll {
      position: fixed;
      right: 20px;
      bottom: 20px;
      background-color: #8F1F43;
      color: #fff;
      width: 60px;
      height: 60px;
      line-height: 60px; /* Set line-height equal to height of circle */
      border-radius: 50%;
      text-align: center;
      font-size: 0; /* Hide text */
      z-index: 9999;
      text-align: center;
    }
  
    .phone-button.scroll .bi {
      font-size: 24px;
      line-height: 60px; /* Set line-height equal to height of circle */
      display: block;
      margin-top: -11px; /* Adjust margin-top to perfectly center phone icon */
      margin-left: -3px;
    }
  }

.slide-in-left {
    animation: slide-in-left 1s ease-out forwards;
}
  
.slide-in-right {
    animation: slide-in-right 1s ease-out forwards;
}ß
  
.slide-in-bottom {
    animation: slide-in-bottom 1s ease-out forwards;
}

  @keyframes slide-in-left {
    from {
      transform: translateX(-100%);
      opacity: 0;
    }
  
    to {
      transform: translateX(0);
      opacity: 1;
    }
  }
  
@keyframes slide-in-right {
    from {
      transform: translateX(100%);
      opacity: 0;
    }
  
    to {
      transform: translateX(0);
      opacity: 1;
    }
  }
  
@keyframes slide-in-bottom {
    from {
      transform: translateY(50%);
      opacity: 0;
    }
  
    to {
      transform: translateY(0);
      opacity: 1;
    }
  }


  .color-change {
    color:#8F1F43;
    font-family: 'Bangers', cursive;
  }

  .mod {
    font-size: 1.75rem;
  }

  @media (min-width: 1440px) {
    #more .row > div {
    margin: 50px;
  }
}


.scroll-slide-left, .scroll-slide-right {
    opacity: 0;
    transform: translateX(-50px);
    transition: all 0.5s ease;
  }

.scroll-slide-left.active, .scroll-slide-right.active {
opacity: 1;
transform: translateX(0);
}

.mod.scroll-slide-left, .mod.scroll-slide-right {
    opacity: 0;
    transform: translateX(-50px);
    transition: all 3s ease;
}

.mod.scroll-slide-left.active, .mod.scroll-slide-right.active {
    opacity: 1;
    transform: translateX(0);
    }

  

.page-section {
    margin-top: 50px;
    padding-bottom: 30px;
}